<div class="container-fluid m-30">
    <h1>Login for: {{ adminSetPasswordParams.email }}</h1><br/>
    <h5>Username: {{ adminSetPasswordParams.username }}</h5>
    <br>
    <br>
    
    <div class="row col-md-5">
        <div class="form-group fg-float">
            <div id="url2Container" class="fg-line">
                <input class="form-control fg-input" type="password" ng-model="setPasswordData">
                <label class="fg-label">Password</label>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <button type="button" class="btn btn-primary waves-effect" ng-click="setPassword()">Save</button>
    </div>
   
</div>