<div class="bgm-black reset-password-form">
    <label class="f-700 c-white" style="float:left">Password</label>
    <div class="form-group fg-float">
            <input
                id="password"
                ng-model="user.password"
                class="form-control bgm-white"
                type="password"
                fgline-default
            >
    </div>
    <label class="f-700 c-white" style="float:left">Confirm Password</label>
    <div class="form-group fg-float">
            <input
                id="confirmPassword"
                ng-model="user.newPassword"
                class="form-control bgm-white"
                type="password"
                fgline-default
            >
    </div>
    <center><button class="btn bgm-green waves-effect f-700 goBebas" style="font-size: 2rem;" ng-click="resetPassword()">Reset Password</button></center>
</div>
