<style media="screen">
  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #comment-section h3{
    width: 90%;
    margin: 0 auto;
  }

  .owl-item:first-child div{
    padding-left: 0 !important;
  }
  .owl-item:last-child div{
    padding-right: 0 !important;
  }
</style>

<div class="watchNow-containter" style="background: #171717 !important" ng-init="getContentDetails();hctrl.headerPopup = false">
  <h3 style="text-indent: 1.75%;" class="breadcrumbs c-white">HOME / {{videoSpecs.category | replace: '-':' ' | uppercase }} / {{videoTitle | uppercase}}</h3>

  <div class="row">
    <!-- MAIN CONTENT -->
    <div class="col-md-8 col-sm-12 main-container">

      <!-- VIDEO CONTENT -->
      <div class="videoPlayer image-fit-to-width">
          <img src = "/img/boysenlogo3.png" class="videojs-logo" />
          <!-- <div>
              <i class="zmdi zmdi-rotate-left zmdi-hc-fw"></i>
          </div> -->
          <video
              oncontextmenu="return false" 
              onselectstart="return false"
              class="main-videojs video-js vjs-default-skin vjs-big-play-centered"
              preload="auto"
              controls
              playsinline
              webkit-playsinline>
          </video>
      </div>
      <!-- END VIDEO CONTENT -->

      <div class="row bgm-yellow c-black large-desktop-p-25 desktop-p-25 tablet-portrait-p-25 tablet-landscape-p-25 mobile-portrait-p-10">
        <!-- VIDEO SPECS -->
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 video-content-image">
              <img ng-src="{{ imgBanner }}" class="image-fit-to-width p-t-5">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 video-content-desc">
              <h4 class="m-t-0 video-title" style="font-weight: bolder;">{{ videoTitle | uppercase }}</h4>
              <h5 class="f-17 f-700 episode-font">
                <!-- <span ng-show="videoSpecs.category == 'binge'">{{ seasonNumberName }} - </span> -->
                {{ videoSpecs.category == 'binge' ? ('Episode ' + epNumber + ' | ') : ""}}
                {{ episodeTitle }}
              </h5>
              <p style="text-align:left;" id="series-desc" class="goMyriad read-more-desc f-16" dd-text-collapse dd-text-collapse-max-length="{{ readmoreValue }}" dd-text-collapse-text="{{ videoDesc }}"></p>
              <!-- <p style="text-align:left;" id="series-desc" class=" tile__img goMyriad read-more-desc f-16">{{ videoDesc }}</p> -->
              <!-- <p style="cursor:pointer;" ng-if="videoDesc.length > 300" class="isMobile" id="read-more" ng-click="readMore(isDescFull);">Read More</p> -->
            </div>
        </div>

        <div style="border-bottom: 5px solid black;" class="c-black large-desktop-m-t-25 desktop-m-t-25 tablet-portrait-m-t-25 mobile-portrait-m-t-25">
          <div id="series-buttons" style="text-align: end;">
            <!--KING-->
            <button ng-class="{'visibility-none':videoSpecs.category == 'big-time-bouts' || videoSpecs.category == 'boysen-now' || videoSpecs.category == 'boysen-classics' || videoSpecs.category == 'brave-and-bold', 'bgm-black c-yellow':seasonNumberName == series.name,'bgm-transparent':seasonNumberName != series.name}" class="btn-series btn c-black waves-effect series-number-button f-16" ng-repeat="series in seriesDetails track by $index" ng-click="arrangeSeriesEpisodes($index);">{{ series.name }}</button>
            <!-- <button ng-class="{'visibility-none':videoSpecs.category == 'big-time-bouts'}" class="btn-series bgm-transparent btn c-black waves-effect series-number-button f-16" ng-repeat="series in seriesDetails track by $index" ng-click="arrangeSeriesEpisodes($index);"></button> -->
          </div>
        </div>
        <!-- END VIDEO SPECS -->
        <!-- EPISODE SPECS -->
        <div ng-class="(videoSpecs.category == 'big-time-bouts') ? 'grid-episode-container-mobile' : 'grid-episode-container'">
          <div ng-repeat="episode in seriesEpisode track by $index" ng-if="episode != undefined || episode != null"  style="border-bottom: 2px solid black;" class="grid-button-container large-desktop-m-t-20 desktop-m-t-20 large-desktop-p-t-25 desktop-p-t-25 large-desktop-p-t-25 desktop-m-t-25 tablet-portrait-p-t-25 large-desktop-p-b-25 desktop-p-b-25">
            <img style="width:15px;" class="play" src="/img/Play Button.png" alt="">
            <button ng-class="{'bgm-black c-yellow' : videoMuviId == episode.id, 'bgm-transparent' : videoMuviId != episode.id}" class="f-15 btn c-black waves-effect series-number-button" scroll-on-click ng-click="setEpisodeDetails(episode);" style="white-space:normal;text-align: start;text-transform: unset;">
              <!--KING-->
              <!-- <span ng-if="!((seriesDetails.length <= 1) && (videoSpecs.category == 'big-time-bouts'))">{{ 'Episode ' + episode.episode_number + ' | ' + episode.episode_title }}</span> -->
              <!-- <span ng-if="(seriesDetails.length <= 1) && (videoSpecs.category == 'big-time-bouts')">{{ episode.episode_title }}</span> -->
              <!-- <span ng-if="!((seriesDetails.length <= 1) && (videoSpecs.category == 'big-time-bouts') || (videoSpecs.category == 'boysen-now') || (videoSpecs.category == 'boysen-classics'))">{{ 'Episode ' + episode.episode_number + ' | ' + episode.episode_title }}</span> -->
              <span ng-if="!((seriesDetails.length <= 1) && (videoSpecs.category == 'big-time-bouts') || (videoSpecs.category == 'boysen-now') || (videoSpecs.category == 'boysen-classics') || (videoSpecs.category == 'brave-and-bold')|| (videoSpecs.category == 'boysen-beats'))">{{ 'Episode ' + episode.episode_number }}</span>
              <span ng-if="(seriesDetails.length <= 1) && (videoSpecs.category == 'big-time-bouts') || (videoSpecs.category == 'boysen-now') || (videoSpecs.category == 'boysen-classics') || (videoSpecs.category == 'brave-and-bold')|| (videoSpecs.category == 'boysen-beats')">{{episode.episode_title}}</span>
            </button>
          </div>
        </div>


        <!-- <div class="row">
          <div class="col-md-6 col-sm-6" ng-repeat="episode in seriesEpisode track by $index" ng-if="episode != undefined || episode != null">
            <div class="large-desktop-m-t-25 desktop-m-t-25 large-desktop-m-t-25 desktop-m-t-25 tablet-portrait-m-t-25 large-desktop-m-b-25 desktop-m-b-25 episode-container" ng-click="setEpisodeDetails(episode);">
              <div class="episode-text-container">

                  <button class="f-15 large-desktop-m-t-20 desktop-m-t-20 bgm-transparent btn c-black waves-effect series-number-button" ng-click="setEpisodeDetails(episode);" style="white-space:normal;text-align: start;">
                    <span class="p-r-25 "><img style="width:15px;" class="play" src="/img/Play Button.png" alt=""></span>{{ 'Episode ' + episode.episode_number + ' | ' + episode.episode_title }}
                  </button>
                  <span class="f-15 large-desktop-m-t-20 desktop-m-t-20">{{ 'Episode ' + episode.episode_number + ' | ' + episode.episode_title }}</span>
              </div>
            </div>
          </div>
        </div> -->
        <!-- END EPISODE SPECS -->
      </div>
      <!-- RECOMMENDATION -->
      <div ng-include="'views/partials/videoSuggestion.html'"></div>
      <!-- END RECOMMENDATION -->
      <!-- COMMENT SECTION -->
      <div id="comment-section" ng-include="'views/partials/commentSection.html'"></div>
      <!-- END COMMENT SECTION -->

    </div>
    <!-- END MAIN CONTENT -->
    <!-- SIDE CONTENT-->
    <div ng-include="'views/partials/sideContents.html'"></div>
    <!-- END SIDE CONTENT -->
  </div>

</div>
